#main-body {
    text-align: justify;
    margin: 120px auto ;
    width: 720px;
    color: #101828;
    
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


#header {
    margin-bottom: 48px;
}

#header p {
    font-size: 20px;
    color: #475467;
    line-height: 30px;
}

#header h2{
    color: #101828;
    font-size: 36px;
    line-height: 44px;
}

#name {
    display: flex;
}

#lname {
    margin-left: 15px;
}

label {
    color: #344054;
    font-size: 14px;
    line-height: 34px;
}

#fname > input, #lname > input { 
    width: 348px;
    height: 40px;
    border-radius: 8px;
    border:1px solid #D0D5DD;
}

#mail > input, textarea {
    width: 720px;
    
}

#mail > input {
    height: 40px;
    border-radius: 8px;
    border:1px solid #D0D5DD;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    padding-left: 8px;
    font-size: 16px;
}

input:invalid {
    border: 1px solid #FEE4E2;
    border-width: 3px;
  }

textarea[type="text"] {
    padding-left: 8px;
    font-size: 16px;
    padding-top: 8px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
}
    


::placeholder {
    color: #667085;
}

textarea {
    height: 132px;
    border-radius: 8px;
    border:1px solid #D0D5DD;
    resize: none;
    
}


#checkbox, #textarea, #mail {
    padding-top: 8px;
}

#checkbox > label {
    margin-left: 8px;
}

#inp-checkbox {
    position: relative;
    top: 2px;
}

#button {
    margin-top: 20px;
    width: 720px;
    height: 48px;
    background-color: #1570EF;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
}

/* input {
    box-shadow: 0 1px 2px #101828;
} */

@media screen and (max-width: 480px ){
    #root {
        margin: 0;
    }
    #name {
        display: block;
        
    }

    #lname {
        margin-left: 0;
    }

    #main-body {
        width: 343px;
        margin: 80px auto 100px auto;
        /* margin-left: 40px;
        margin-right: 30px; */
        
    }

    #fname > input, #lname > input, 
    #mail > input, textarea, #checkbox {
        width: 343px;
    }

    #button {
        width: 343px;
    }
    #fname, #lname, #mail, #textarea {
        margin-bottom: 8px;
    }
    
    #checkbox > label{
        font-size: 16px;
        line-height: 20px;

    }

    #checkbox {
        display: flex;
    }

    #inp-checkbox {
        margin-bottom: 25px;
    }

    
}
